h1 {
  text-align: center;
}

#container {
  display: grid;
  width: 500px;
  height: 500px;
  margin: auto;
  border: 1px solid black;
}

#main-container {
  text-align: center;
  padding: 1rem;
}

button {
  background: honeydew;
  padding: 1rem;
  margin: 1rem;
}

.child {
  border: 1px solid black;
}

.childHover {
  animation-name: colorChange;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes colorChange {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
